*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, div, span, ul, li{
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

::selection{
    background-color: #BECADE;
}

.container{
    max-width: 1300px;
    margin: auto;
}

.subscribe-to-our-tg-channel{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #295093;
    margin-bottom: 30px;
}

img{
    user-select: none;
}

.bg-dark{
    background: #F6F6F9;
    border-radius: 5px;
}

input, textarea{
    background: #FBFBFB;
    border: none;
    border: 2px solid #BECADE; 
    border-radius: 5px;
    padding: 15px 0px 15px 16px;
    margin-bottom: 20px;
    outline: none;
    color: #515151;
    font-weight: 400;
    font-size: 20px;
}

input{
    height: 50px;
}

::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
}

button{
    width: 221px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #295093;
    border: 2px solid rgba(40, 81, 147, 0.54);
    border-radius: 5px;
    padding: 15px 61px 14px 61px;
    transition: all 0.1s ease-in-out;
}

button:hover{
    cursor: pointer;
    opacity: 0.9;
}